<button class="btn btn-success" ng-click="save( $parent.solutionType )">Save</button>

<span ng-show="!isTreeSaved( $parent.solutionType )">
    <br/>

    *Operation with Local Storage
</span>

<span ng-show="isTreeSaved( $parent.solutionType )">
    <button class="btn btn-success" ng-click="retrieve( $parent.solutionType )">Retrieve</button>
    <button class="btn btn-success" ng-click="delete( $parent.solutionType )">Delete</button>

    <br/>

    *Operations with Local Storage

    <br/><br/><br/>

    <small>
        (One state of tree has been saved in Local Storage. Press "Retrieve" to read the state. Press "Delete" to remove the
        state)
    </small>
</span>