<script type="text/ng-template"  id="node-item-block.html">
    <button class="btn-primary btn-xs" ng-click="treeModel.add(node)">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button class="btn-primary btn-xs" ng-click="treeModel.remove(node.id)" ng-hide="node.id == 0">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <span ng-show="node.id == 0">Root</span>
    <span ng-show="node.id != 0 && (!isEdit || (node.id != editedElemId))" ng-click="switchToEdit(node.id)">{{node.name}} </span>
    <input id="input{{node.id}}" ng-show="isEdit && (node.id == editedElemId)" type="text" ng-blur="switchToText()" ng-model="node.name"/>

    <ul>
        <li ng-repeat="node in node.nodes" ng-include="'node-item-block.html'"></li>
    </ul>
</script>

<div ng-controller="TreeController">
    <ul>
        <li class="recursive-root-block" ng-repeat="node in treeModel.getTree()" ng-include="'node-item-block.html'"></li>
    </ul>
</div>

<br/>

<div ng-controller="LocalStorageController">
    <button class="btn btn-success" ng-click="save()">Save</button>

    <span ng-show="!isTreeSaved()">
        <br/>

        *Operation with Local Storage
    </span>

    <span ng-show="isTreeSaved()">
        <button class="btn btn-success" ng-click="retrieve()">Retrieve</button>
        <button class="btn btn-success" ng-click="delete()">Delete</button>

        <br/>

        *Operations with Local Storage

        <br/><br/><br/>

        <small>
            (One state of tree has been saved in Local Storage. Press "Retrieve" to read the state. Press "Delete" to remove the
            state)
        </small>
    </span>
</div>

